<% if @user_is_owner %>
<%= turbo_stream_from "party_#{@party.code}_owner" %>    
<% else %>
<%= turbo_stream_from "party_#{@party.code}_guest" %>
<% end %>
<div class="flex flex-col h-full gap-2">
    <div class="flex flex-col gap-2 h-[calc(100%-80px)] md:h-[calc(100%-96px)] overflow-hidden">
        <!-- First child div -->
        <div class="relative flex flex-col px-2 py-1 rounded-2xl bg-spotify-gray-clear w-full h-fit z-10">
            <div data-search-url="<%= party_data_search_path(code: @party.code)%>" data-controller="search" class="relative">
                <div class="flex justify-center h-14 bg-spotify-gray-clear items-center">
                    <input data-search-target="searchInput" data-action="click->search#open input->search#checkInput" class="bg-spotify-gray-dark rounded-3xl w-full focus:outline-none focus:border-spotify-green focus:ring-spotify-green" placeholder="Search a song">
                    </input>
                </div>
                <div data-search-target="searchResults" class="hidden flex flex-col absolute top-14 w-full opacity-90 rounded-xl p-2 overflow-y-auto h-72 bg-black custom-scrollbar">
                </div>
            </div>
        </div>
        
        <!-- Second child div with flex-grow -->
        <div class="flex flex-col w-full gap-2 flex-grow overflow-y-auto">
            <%= render partial: "parties/party_banner", locals: { party: @party} %>
            <%= render partial: "parties/song_queue", locals: { party_songs: @party_songs} %>
        </div>
    </div>
    <div data-controller="party" class="p-2 bg-black rounded-2xl w-full md:h-24 h-20">
        <div class="flex hidden justify-center items-center" data-party-target="spinner">
            <div class="animate-spin rounded-full h-14 w-14 border-2 border-t-8 border-zinc-400"></div>
        </div>
        <div class="flex hidden justify-center items-center" data-party-target="spotifyError">
            <span class="p-2 rounded-2xl w-fit bg-red-500 items-center font-semibold text-md lg:text-lg break-words whitespace-normal">We couldnt connect to your device. Open your Spotify app and try again</span>
        </div>        
        <%= render partial: "parties/currently_playing", locals: { party: @party, user_is_owner: @user_is_owner} %>
    </div>
</div>
