<div id="currently_playing" class="relative flex h-full items-center justify-between">
    <div class="flex items-center gap-2  min-w-0">
        <img src="<%= song.image %>" class="w-14 h-14 rounded-sm lg:rounded">
        <div class="flex flex-col gap-1 my-2 overflow-hidden">
          <div class="overflow-hidden text-ellipsis whitespace-nowrap">
            <p class="font-semibold text-base truncate"><%= song.name %></p>
              <p class="font-semibold text-gray-500 text-xs truncate"><%= song.artists.join(',') %></p>
          </div>
          <%= link_to "http://open.spotify.com/track/#{song.spotify_song_id}", target: '_blank', class: 'inline-block flex items-center gap-2' do %>
            <span class='text-xs font-semibold text-gray-300 underline'>LISTEN ON</span> <%= image_tag('spotify-full-logo.svg', class: 'w-[75px] md:w-[90px]') %>
          <% end %>
        </div>
    </div>
    
    <% if user_is_owner %>
    <div class="flex items-center h-full bg-blackZ gap-2">
        <div data-action="click->party#stop" data-stop-url="<%= stop_party_path(code: party.code)%>" class="flex items-center bg-gray-200 text-black font-extrabold p-2 h-3/5 rounded-xl hover:bg-spotify-gray-clear hover:border-spotify-green hover:text-spotify-green">
            Stop
        </div>
        <div data-action="click->party#skip" data-skip-url="<%= skip_party_path(code: party.code)%>" class="flex items-center bg-gray-200 text-black font-extrabold p-2 h-3/5 rounded-xl hover:bg-spotify-gray-clear hover:border-spotify-green hover:text-spotify-green">
            Skip
        </div>
    </div>
    <% else %>
    <div class="flex w-32 bg-black h-full items-center">
        <%= image_tag 'play-button-icon.svg', class: 'w-9 h-9' %> 
        <p class="animate-pulse font-bold">Playing</p>
    </div>
    <% end %>
</div>