<nav class="lg:hidden sticky bottom-0 flex justify-around items-center h-14 px-6 py-3 bg-black">
    <%= link_to home_path do %>
        <p class="text-base font-bold">SPOTIFEST</p>
    <% end %>
    <%= link_to home_path do %>
        <%= image_tag 'home-icon.svg', class: 'w-9 h-9' %>
    <% end %>
    <%= link_to home_path do %>
        <%= image_tag 'party-list-icon.svg', class: 'w-9 h-9' %>
    <% end %>
   
    <%= link_to account_settings_path do %>
        <%= image_tag 'user-settings-icon.svg', class: 'w-9 h-9' %>
    <% end %>
</nav>
