<nav class="md:hidden sticky bottom-0 flex justify-around items-center h-14 px-6 py-3 border-t-2 border-spotify-gray-clear bg-black">
    <%= link_to home_path do %>
        <%= image_tag 'spotify-icon.svg', class: 'w-8 h-8' %>
    <% end %>
    <%= link_to home_path do %>
        <%= image_tag 'spotify-icon.svg', class: 'w-8 h-8' %>
    <% end %>
    <%= link_to home_path do %>
        <p class="text-base font-bold">SPOTIFEST</p>
    <% end %>
    <%= link_to home_path do %>
        <%= image_tag 'spotify-icon.svg', class: 'w-8 h-8' %>
    <% end %>
    <%= link_to home_path do %>
        <%= image_tag 'spotify-icon.svg', class: 'w-8 h-8' %>
    <% end %>
</nav>
