<div class="sticky top-0 z-10 bg-black">
    <nav class="flex justify-between items-center h-20 p-4">
        <div class=" flex items-center gap-2">
          <%= image_tag 'spotify-icon.svg', class: 'w-8 h-8' %>
          <p class="text-xl font-bold">SPOTYFEST</p>
        </div>
        
        <% if current_user %>
            <%= link_to account_settings_path, class: "flex justify-end gap-2 items-center w-full max-w-xs md:max-w-sm lg:max-w-md" do %>
            <%= image_tag current_user.image, class: "object-cover h-10 w-10 rounded-full", alt: "User Profile Image" %>
            
            <span class="text-md max-w-36 md:max-w-fit md:text-lg lg:text-xl font-bold truncate" title="<%= current_user.username %>">
                <%= current_user.username %>
            </span>
            <% end %>
        <% end %>
    </nav>
</div>