<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Spoty Fest" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen flex flex-col justify-between">
    <main class="animate-party text-gray-200 flex flex-col flex-grow items-center justify-center gap-20">
      <%= yield %>
    </main>

    <footer class="bg-spotify-gray-secondary py-4">
        <div class="text-center text-gray-200">
            <p>&copy; 2024 Spotifest. All rights reserved.</p>
        </div>
    </footer>
  </body>
</html>
