<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Spotyfest" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="relative min-h-screen bg-black flex flex-col">
    <div class="absolute inset-0 bg-gradient-to-br from-spotify-green via-spotify-green-complement to-purple-700 opacity-25"></div>
    <div class="relative flex flex-col flex-grow">
        <%= render 'layouts/flash_messages' %>

        <main class="flex-grow flex items-center justify-center">
            <%= yield %>
        </main>
    </div>

    <footer class="fixed bottom-0 w-full bg-spotify-gray-dark py-4">
        <div class="text-center text-gray-200">
            <p>&copy; 2024 Spotyfest. All rights reserved.</p>
        </div>
    </footer>
  </body>
</html>
